/plugins/*
!plugins/achooandthesneezes
!plugins/creative-writing-resources
!plugins/goodreads-in-wordpress


/themes/*
!themes/octothorpe-child
!themes/kleenexbox

/themes/octothorpe-child/node_modules
/themes/kleenexbox/node_modules
/vendor/

db.php