::-moz-selection,
::selection {
  background: rgb(102, 6, 73);
  color: #fff;
  text-shadow: none;
}

aside {
  margin-top: 125px;

  .widget {
    ul {
      padding-left: 1rem;
    }
    h2 {
      font-size: 1.75rem;
      margin-bottom: .5rem;
    }
  }
}
section .currently-reading p {
  margin: 0;
}

.widget_links p {
  margin-bottom: 0;
}

.blogroll {

  #audiofiction &,
  #writers & {
    column-count: 2;
  }

  @media screen and (max-width: 768px) {
    #audiofiction &,
    #writers & {
      column-count: 1;
    }
  }
}

.widget_rss {
  h2 {
    overflow: hidden;

    a {
      float: left;
    }
  }
}

.rsswidget {
  img {
    margin: 8px 8px 0 0;
  }
}
li.linkcat {
  list-style: none;
}