.content {
  display: flex;
  flex-flow: row wrap;

  .main-content,
  aside {
	flex-grow: 1;
  }
  .main-content {
	padding-right: 30px;
	position: relative;
	width: 80%;

	&::after {
	  background: linear-gradient(to bottom, #4e6795, rgba(0, 0, 0, 0));
	  content: '';
	  display: block;
	  height: 300px;
	  position: absolute;
	  right: 2%;
	  top: 0;
	  width: 4px;
	}
  }
;
  aside {
	width: 20%;
  }
}
